.popUp {
  background: rgb(0, 0, 0);
  color: white;
  width: 250px;
  left: 0;

  position: fixed;

  margin-top: 3.5%;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid white;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.popUp__track {
  display: flex;
  align-items: center;
  transition: 200ms;
  height: 40px;
  border-radius: 5px;
}
.popUp__track:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.123);
  transform: scale(1.03);
}

.popUp__track > img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
.popUp__track > p {
  margin-left: 5px;
}

.popUp__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.popUp > .popUp__top > .MuiSvgIcon-root {
  font-size: 30px;
  margin-bottom: 5px;
}

.popUp > .popUp__top > .MuiSvgIcon-root {
  cursor: pointer;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
